.i_form {
   padding: 1rem;
   border-radius: 3px;
}

.cadastre input {
   border: 1.5px solid hsl(243, 87%, 12%);
   margin-bottom: 1rem;
}

.btn {
   background-color: hsl(224, 93%, 58%);
   color: #FFF;
   font-size: 16px;
   font-weight: 700;
}

@media (max-width: 1000px) {
   .i_form {
      display: block;
      width: 100%;
   }
}

@media (min-width: 1000px) {
	.cadastre {
		display: flex;
		justify-content: space-between;
	}

	.cadastre input {
		width: 60%;
		margin-bottom: 0;
	}

	.btn {
		width: 35%;
	}
}