body {
   background-color: #FFF;
   font-family: "Open Sans";
   line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
   font-family: "Raleway";
}

img {
   align-self: center;
   object-fit: contain;
   width: 70%;
}

input {
   box-sizing: border-box;
}

@media (max-width: 1000px) {

   header,
   footer {
      padding: 0 2rem;
   }

   section {
      padding: 5rem 2rem;
   }
}

@media (min-width: 1000px) {

   header,
   footer {
      padding: 0 4rem;
   }

   section {
      padding: 5rem 4rem;
   }
}

@media (max-width: 1000px) {}

@media (min-width: 1000px) {}