@media (max-width: 1000px) {}

@media (min-width: 1000px) {
	.register_form {
		flex-flow: column;
		justify-content: flex-start;
		width: 50%;
	}

	.register_form input {
		width: 100%;
		margin-bottom: 1rem;
	}

	.register_form button {
		width: 50%;
	}
}