.register {
   background-color: hsl(238, 22%, 44%);
   color: #FFF;
}

.register_title h2 {
   margin-bottom: 1rem;
}

@media (max-width: 1000px) {
   .register {
      text-align: center;
   }

}

@media (min-width: 1000px) {
   .register_title {
      width: 50%;
   }

   .register_title h2 {
      font-size: 1.9rem;
   }
}